/* Estilos Generales */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cielo Y Nubes */

.sky {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#87CEEB, #F0F8FF);
  transition: background 2s ease;
}

.cloud {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 5;
}

.cloud-part {
  position: absolute;
  width: 100px;
  height: 70px;
  background: radial-gradient(circle at center, #FFFFFF, #E0E0E0);
  border-radius: 50%;
}

.cloud-part:nth-child(1) {
  top: 20px;
  left: -5px;
}

.cloud-part:nth-child(2) {
  top: 15px;
  left: 40px;
  z-index: 11;
}

.cloud-part:nth-child(3) {
  top: 20px;
  left: 80px;
}

.cloud-1 {
  top: 25%;
  left: 8%;
}

.cloud-2 {
  top: 5%;
  left: 22%;
}

.cloud-3 {
  top: 20%;
  left: 40%;
}

.cloud-4 {
  top: 2%;
  left: 60%;
}

.cloud-5 {
  top: 25%;
  left: 70%;
}

.sky .cloud {
  opacity: 1;
}

/* Nieve y Estrellas */

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  z-index: 30;
  opacity: 0;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite ease-in-out;
  z-index: 1;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.3;
  }
}

/* Sol y Luna */

.sun {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #FFD700;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 20;
  box-shadow:
    0 0 5px rgb(239, 243, 29),
    0 0 10px rgb(215, 255, 35),
    0 0 15px rgb(198, 219, 2),
    0 0 20px rgb(182, 214, 2);
  animation: border-sun 1.5s infinite alternate;
}


@keyframes border-sun {
  0% {
    box-shadow:
      0 0 10px rgb(238, 255, 0),
      0 0 20px rgb(194, 175, 3),
      0 0 40px rgb(201, 188, 4);
  }

  50% {
    box-shadow:
    0 0 20px rgb(215, 255, 35),
    0 0 30px rgb(198, 219, 2),
    0 0 50px rgb(182, 214, 2);
  }

  100% {
    box-shadow:
    0 0 10px rgb(238, 255, 0),
    0 0 20px rgb(194, 175, 3),
    0 0 40px rgb(201, 188, 4);
  }
}

.moon {
  position: absolute;
  top: -200px;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #F0E68C;
  border-radius: 50%;
  box-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163),
    0 0 20px rgb(131, 131, 131);
  z-index: 20;
  transform: translateX(-50%);
  opacity: 0;
  animation: border-moon 1.5s infinite alternate;
}

@keyframes border-moon {
  0% {
    box-shadow:
      0 0 10px rgb(131, 131, 131),
      0 0 20px rgb(102, 102, 102),
      0 0 40px rgb(94, 94, 94);
  }

  50% {
    box-shadow:
      0 0 20px rgb(131, 131, 131),
      0 0 30px rgb(102, 102, 102),
      0 0 50px rgb(94, 94, 94);
  }

  100% {
    box-shadow:
      0 0 10px rgb(131, 131, 131),
      0 0 20px rgb(102, 102, 102),
      0 0 40px rgb(94, 94, 94);
  }
}

/* Ciudad */

.city {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: #333333;
  z-index: 25;
}

.building {
  width: 10%;
  height: 70%;
  background: #444;
  position: relative;
  border: 2px solid #222;
  border-radius: 3px;
}

.building:nth-child(1) {
  height: 50%;
}

.building:nth-child(2) {
  height: 60%;
}

.building:nth-child(3) {
  height: 80%;
}

.building:nth-child(4) {
  height: 40%;
}

.building:nth-child(5) {
  height: 70%;
}

.building::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 10%;
  background: #555;
  border-radius: 50% 50% 0 0;
}

.building div {
  width: 20%;
  height: 10%;
  background: #f5f5f5;
  position: absolute;
  border: 1px solid #ddd;
}

.building div:nth-child(1) {
  top: 10%;
  left: 20%;
}

.building div:nth-child(2) {
  top: 10%;
  left: 60%;
}

.building div:nth-child(3) {
  top: 40%;
  left: 20%;
}

.building div:nth-child(4) {
  top: 40%;
  left: 60%;
}

.building div:nth-child(5) {
  top: 70%;
  left: 20%;
}

.building div:nth-child(6) {
  top: 70%;
  left: 60%;
}

.window {
  width: 20%;
  height: 10%;
  position: absolute;
  border: 1px solid #ddd;
  background: #cce7ff;
  transition: background 1s ease;
}

/* Apagar luces */

.night .window {
  background: #001f3f;
}

/* Encender luces */

.night .window.light-on {
  background: #ffd700;
}

/* Animaciones */

@keyframes transitionToNight {
  0% {
    background: linear-gradient(to bottom, #87ceeb, #fff);
  }

  100% {
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
  }
}

@keyframes sunFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Fuegos Artifiales */

.fireworks {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: fireworks 15s infinite ease-in-out;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 50;
}

@keyframes fireworks {

  0%,
  100% {
    background: transparent;
  }

  50% {
    background: url('https://cdn.pixabay.com/photo/2016/11/19/14/00/fireworks-1836231_960_720.jpg') no-repeat center;
    background-size: contain;
  }
}

@keyframes firework {
  0% {
    transform: translate(var(--x), var(--initialY));
    width: var(--initialSize);
    opacity: 1;
  }

  50% {
    width: 0.5vmin;
    opacity: 1;
  }

  100% {
    width: var(--finalSize);
    opacity: 0;
  }
}

.firework,
.firework::before,
.firework::after {
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background:

    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: 10s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: 15s;
}


.firework:nth-child(4) {
  --x: 20vmin;
  --y: -40vmin;
}

.firework:nth-child(4),
.firework:nth-child(4)::before,
.firework:nth-child(4)::after {
  --color1: coral;
  --color2: tomato;
  --color3: orange;
  --color4: goldenrod;
  --color5: darkorange;
  --color6: peru;
  --finalSize: 38vmin;
  left: 80%;
  top: 50%;
  animation-delay: 20s;
}

.firework:nth-child(5) {
  --x: -20vmin;
  --y: -60vmin;
}

.firework:nth-child(5),
.firework:nth-child(5)::before,
.firework:nth-child(5)::after {
  --color1: lightgreen;
  --color2: yellowgreen;
  --color3: limegreen;
  --color4: darkseagreen;
  --color5: mediumspringgreen;
  --color6: forestgreen;
  --finalSize: 42vmin;
  left: 60%;
  top: 60%;
  animation-delay: 25s;
}

/* Mensaje Final */

#final-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  z-index: 100;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#final-screen p {
  text-align: center;
  text-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163),
    0 0 20px rgb(131, 131, 131);
}

.hidden {
  display: none;
}